.adls-highlight {
  position: relative;
  display: inline-block;
  input {
    padding: 10px 15px;
    vertical-align: top;
    border: 1px dashed #c3c3c3;
    height: auto;
    width: 220px;
  }
  input[type="text"]:hover,
  input[type="text"]:focus {
    border-color: #ea3556;
  }
  .ty-btn {
    position: absolute;
    right: 5px;
    top: 0;
    border: medium none;
    display: inline-block;
    width: 50px;
    height: 40px;
  }
  .ty-btn i {
    top: 14px;
    position: absolute;
  }
}
.adls-license-status {
  display: block;
  font-size: 1.1em;
  line-height: 1.3em;
  margin-left: 87px;
  margin-bottom: 10px;
}
.adls-license-status.status-i {
  color: #71A705;
}
.adls-license-status.status-a {
  color: #007FFF;
}
.adls-license-status.status-d {
  color: #5A5A5A;
}

.adls-license-domains {
  margin-top: 10px;
}

.adls-domains-view {
  &.list {
    margin-left: 0;
    li {
      list-style-type: circle;
      max-width: 110px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

}

.ty-product-notification__body {
  .ty-product-options {
    margin-left: 10%;
    line-height: 1.1em;
  }
  .ty-product-options-name {
    width: 40%;
  }
  .ty-product-options-content {
    width: 50%;
  }
}


/* Animations */

@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px
  }

  100% {
    stroke-dashoffset: 0
  }
}

@-ms-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px
  }

  100% {
    stroke-dashoffset: 0
  }
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 50px
  }

  100% {
    stroke-dashoffset: 0
  }
}

@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px
  }

  100% {
    stroke-dashoffset: 480px
  }
}

@-ms-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px
  }

  100% {
    stroke-dashoffset: 480px
  }
}

@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px
  }

  100% {
    stroke-dashoffset: 480px
  }
}

.icon.svg svg {
  transform: scale(0.4);
}
.icon.svg {
  left: auto;
  position: absolute;
  right: -15px;
  top: -15px;
}

.inlinesvg .svg svg {
  display: inline
}

.icon--order-success svg path {
  -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
  animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.icon--order-success svg circle {
  -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
  animation: checkmark-circle 0.6s ease-in-out backwards
}
/* /Animations */