.adls-highlight {
  position: relative;
  input {
    border: 1px dashed #c3c3c3;
    height: auto;
    padding: 10px 15px;
    vertical-align: top;
  }
  .ty-btn {
    position: relative;
    right: 60px;
    top: 0;
    border: medium none;
    display: inline-block;
  }
  .ty-btn i {
    top: 0;
  }
}

.adls-license-status {
  display: block;
  margin-left: 103px;
}
.adls-license-status.status-i {
  color: #71a705;
}
.adls-license-status.status-a {
  color: #007fff;
}
.adls-license-status.status-d {
  color: #5a5a5a;
}