.adls-highlight {
  position: relative;
  input {
    padding: 10px 15px;
    vertical-align: top;
  }
  .ty-btn {
    position: relative;
    right: 60px;
    top: 0;
    border: medium none;
    display: inline-block;
  }
  .ty-btn i {
    top: 0;
  }
}